---

---

<div
  class="flex size-full content-stretch items-center gap-[100px] px-[32px] py-[140px]"
  data-name="Apps"
  data-node-id="547:8583"
>
  <img
    class="h-[470px] w-[582px] bg-[#c4defd]"
    data-name="Image-container"
    data-node-id="547:9128"
    src="https://placehold.co/582x470/808080/ffffff"
    alt="Apps Image"
  />
  <div
    class="flex min-h-px min-w-px grow basis-0 flex-col content-stretch items-start gap-[60px]"
    data-name="Heading"
    data-node-id="547:8728"
  >
    <div
      class="flex w-full flex-col content-stretch items-start gap-[24px]"
      data-name="Text-block"
      data-node-id="547:8729"
    >
      <p
        class="w-full text-[72px] font-bold tracking-[-1.44px]"
        data-node-id="547:8730"
      >
        Work with Your Favorite Apps Using whitepace
      </p>
      <p
        class="w-full text-[18px] leading-[30px] tracking-[-0.36px]"
        data-node-id="547:8731"
      >
        Whitepace teams up with your favorite software. Integrate with over
        1000+ apps with Zapier to have all the tools you need for your project
        success.
      </p>
    </div>
    <div
      class="flex content-stretch items-center justify-center gap-[10px] rounded-[8px] bg-[#4f9cf9] px-[40px] py-[20px]"
      data-name="Btn-try"
      data-node-id="547:8732"
    >
      <p
        class="text-[18px] leading-[23px] font-medium tracking-[-0.36px] text-nowrap"
        data-node-id="547:8733"
      >
        Read more
      </p>
      <div
        class="flex content-stretch items-start gap-[4px]"
        data-name="Icon"
        data-node-id="547:8734"
      >
        <div class="relative size-[14px]" data-node-id="547:8735">
          <div class="absolute inset-[-3.57%]">
            <img
              alt=""
              class="block size-full max-w-none"
              src="https://placehold.co/14x14/808080/ffffff"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
