---
import Button from "./ui/Button.astro";
---

<div class="w-full bg-white text-[#212529]" data-name="Customise">
  <div
    class="mx-auto grid max-w-[1440px] grid-cols-12 items-center gap-[32px] px-[32px] py-[140px]"
  >
    <div class="col-span-5" data-name="Image-container">
      <img
        class="w-full"
        src="https://placehold.co/670x500/808080/ffffff"
        alt="Customise Image"
      />
    </div>
    <div class="col-span-6 col-start-7" data-name="Heading">
      <h2 class="text-[72px] font-bold tracking-[-0.02em]">
        Customise it to your needs
      </h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        Customise the app with plugins, custom themes and multiple text editors
        (Rich Text or Markdown). Or create your own scripts and plugins using
        the Extension API.
      </p>
      <Button
        class="mt-[60px] px-[40px] py-[20px] text-[16px]"
        data-name="Btn-get-started"
      >
        Let's Go
      </Button>
    </div>
  </div>
</div>
