---
import Button from "./ui/Button.astro";
---

<div class="w-full">
  <div
    class="mx-auto flex max-w-[1440px] flex-col items-center gap-[60px] px-[16px] py-[80px] md:grid md:grid-cols-12 md:gap-[32px] md:px-[32px] md:py-[140px]"
  >
    <div
      class="flex w-full flex-col items-center text-center md:col-span-6 md:block md:text-left"
    >
      <h2 class="text-[36px] font-bold tracking-[-0.02em] md:text-[72px]">
        Use as Extension
      </h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        Use the web clipper extension, available on Chrome and Firefox, to save
        web pages or take screenshots as notes.
      </p>
      <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
        Let's Go
      </Button>
    </div>
    <div class="w-full md:col-span-6">
      <img
        class="w-full"
        src="https://placehold.co/686x479/808080/ffffff"
        alt="Extension Image"
      />
    </div>
  </div>
</div>
