---

---

<div
  class="relative box-border flex size-full content-stretch items-center gap-[98px] bg-[#043873] px-[32px] py-[140px]"
  data-name="Extension"
  data-node-id="547:8170"
>
  <div
    class="relative flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[60px]"
    data-name="Heading"
    data-node-id="547:8171"
  >
    <div
      class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[24px] text-white not-italic"
      data-name="Text-block"
      data-node-id="547:8172"
    >
      <p
        class="relative w-full shrink-0 text-[72px] leading-[normal] font-bold tracking-[-1.44px]"
        data-node-id="547:8202"
      >
        Use as Extension
      </p>
      <p
        class="relative w-full shrink-0 font-['Inter','Noto_Sans:Regular',sans-serif] text-[18px] leading-[30px] font-normal tracking-[-0.36px]"
        data-node-id="547:8203"
      >
        Use the web clipper extension, available on Chrome and Firefox, to save
        web pages or take screenshots as notes.
      </p>
    </div>
    <div
      class="relative box-border flex shrink-0 content-stretch items-center justify-center gap-[10px] rounded-[8px] bg-[#4f9cf9] px-[40px] py-[20px]"
      data-name="Btn-get-started"
      data-node-id="547:8204"
    >
      <p
        class="relative shrink-0 text-[18px] leading-[23px] font-medium text-nowrap text-white"
        data-node-id="547:8205"
      >
        Let's Go
      </p>
      <div
        class="relative flex shrink-0 content-stretch items-start gap-[4px]"
        data-name="Icon"
        data-node-id="547:8206"
      >
        <div class="relative size-[14px] shrink-0" data-node-id="547:8207">
          <div class="absolute inset-[-3.57%]">
            <img
              alt=""
              class="block size-full max-w-none"
              src="https://placehold.co/14x14/808080/ffffff"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    class="h-[479px] w-[686px] shrink-0 bg-[#c4defd]"
    data-name="Image-container"
    data-node-id="547:8211"
    src="https://placehold.co/686x479/808080/ffffff"
    alt="Extension Image"
  />
</div>
