---
import Button from "./ui/Button.astro";
---

<div class="w-full">
  <div
    class="mx-auto grid max-w-[1440px] grid-cols-12 items-center gap-[32px] px-[32px] py-[140px]"
  >
    <div class="col-span-6">
      <h2 class="text-[72px] font-bold tracking-[-0.02em]">Use as Extension</h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        Use the web clipper extension, available on Chrome and Firefox, to save
        web pages or take screenshots as notes.
      </p>
      <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
        Let's Go
      </Button>
    </div>
    <div class="col-span-6">
      <img
        class="w-full"
        src="https://placehold.co/686x479/808080/ffffff"
        alt="Extension Image"
      />
    </div>
  </div>
</div>
