---
import Button from "./ui/Button.astro";
---

<div class="w-full" data-name="Footer" data-node-id="547:8738">
  <div
    class="relative mx-auto flex w-full max-w-[1440px] flex-col items-start gap-[100px] px-[32px] pt-[140px] pb-[32px]"
    data-name="Content"
    data-node-id="547:8739"
  >
    <div
      class="flex w-[1480px] items-start gap-[100px]"
      data-name="Info"
      data-node-id="547:8740"
    >
      <div
        class="flex flex-col items-start gap-[15px]"
        data-name="Logo-description"
        data-node-id="547:8741"
      >
        <div
          class="inline-grid grid-cols-[max-content] grid-rows-[max-content] place-items-start"
          data-name="Logo"
          data-node-id="547:8742"
        >
          <img
            class="mt-[3px] ml-0 h-[29px] w-[37px] bg-[#c4defd] leading-[0] [grid-area:1_/_1]"
            data-name="Placeholder"
            data-node-id="553:10306"
            src="https://placehold.co/37x29/808080/ffffff"
            alt="Logo"
          />
          <p
            class="mt-0 ml-[47px] text-[28px] font-bold [grid-area:1_/_1]"
            data-node-id="547:8749"
          >
            whitepace
          </p>
        </div>
        <p
          class="w-[240px] text-[18px] leading-[30px] tracking-[-0.36px] text-[#f7f7ee]"
          data-node-id="547:8750"
        >
          whitepace was created for the new ways we live and work. We make a
          better workspace around the world
        </p>
      </div>
      <div
        class="flex flex-col items-start gap-[15px]"
        data-name="Info"
        data-node-id="547:8751"
      >
        <p
          class="text-[18px] font-bold tracking-[-0.36px]"
          data-node-id="547:8752"
        >
          Product
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8753"
        >
          Overview
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8754"
        >
          Pricing
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8755"
        >
          Customer stories
        </p>
      </div>
      <div
        class="flex flex-col items-start gap-[16px]"
        data-name="Info"
        data-node-id="547:8756"
      >
        <p
          class="text-[18px] font-bold tracking-[-0.36px]"
          data-node-id="547:8757"
        >
          Resources
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8758"
        >
          Blog
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8759"
        >
          Guides &amp; tutorials
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8760"
        >
          Help center
        </p>
      </div>
      <div
        class="flex flex-col items-start gap-[16px]"
        data-name="Info"
        data-node-id="547:8761"
      >
        <p
          class="text-[18px] font-bold tracking-[-0.36px]"
          data-node-id="547:8762"
        >
          Company
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8763"
        >
          About us
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8764"
        >
          Careers
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8765"
        >
          Media kit
        </p>
      </div>
      <div
        class="flex flex-col items-start gap-[16px]"
        data-name="Try-today"
        data-node-id="547:8766"
      >
        <p
          class="text-[18px] font-bold tracking-[-0.36px]"
          data-node-id="547:8767"
        >
          Try It Today
        </p>
        <p
          class="w-[195px] text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8768"
        >
          Get started for free. Add your whole team as your needs grow.
        </p>
        <Button
          class="px-[40px] py-[16px] text-[14px]"
          data-name="Btn-get-started"
          data-node-id="547:8769"
        >
          Start today
        </Button>
      </div>
    </div>
    <div
      class="flex w-full items-start gap-[388px] border-t border-[#2e4b75] pt-[30px]"
      data-name="Btm"
      data-node-id="547:8775"
    >
      <div
        class="flex items-center gap-[60px]"
        data-name="Tems and condition"
        data-node-id="547:8776"
      >
        <div
          class="flex items-center gap-[6px]"
          data-name="Language"
          data-node-id="547:8777"
        >
          <div
            class="relative size-[19px]"
            data-name="Icon"
            data-node-id="547:8778"
          >
            <div class="absolute inset-[-2.63%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/19x19/808080/ffffff"
              />
            </div>
          </div>
          <p
            class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
            data-node-id="547:8782"
          >
            English
          </p>
          <div
            class="relative h-[14px] w-[20px]"
            data-name="Arrow"
            data-node-id="547:8783"
          >
            <div class="absolute inset-[-21.43%_-20%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/20x14/808080/ffffff"
              />
            </div>
          </div>
        </div>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8785"
        >
          Terms &amp; privacy
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8786"
        >
          Security
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8787"
        >
          Status
        </p>
        <p
          class="text-[16px] leading-[20px] tracking-[-0.32px] text-[#f7f7ee]"
          data-node-id="547:8788"
        >
          ©2021 Whitepace LLC.
        </p>
      </div>
      <div
        class="flex items-start gap-[44px]"
        data-name="Social Icon"
        data-node-id="547:8789"
      >
        <img
          class="size-[20px] bg-[#c4defd]"
          data-name="Placeholder"
          data-node-id="553:10329"
          src="https://placehold.co/20x20/808080/ffffff"
          alt="Social 1"
        />
        <img
          class="size-[20px] bg-[#c4defd]"
          data-name="Placeholder"
          data-node-id="553:10330"
          src="https://placehold.co/20x20/808080/ffffff"
          alt="Social 2"
        />
        <img
          class="size-[20px] bg-[#c4defd]"
          data-name="Placeholder"
          data-node-id="553:10331"
          src="https://placehold.co/20x20/808080/ffffff"
          alt="Social 3"
        />
      </div>
    </div>
  </div>
</div>
