---

---

<div
  class="relative flex size-full flex-col content-stretch items-center justify-center gap-[200px] px-[32px] pt-[140px] pb-[32px]"
  data-name="Free Trial"
  data-node-id="547:8970"
>
  <div
    class="flex flex-col content-stretch items-center gap-[40px]"
    data-name="Heading"
    data-node-id="547:8971"
  >
    <div
      class="flex flex-col content-stretch items-center gap-[24px] text-center"
      data-name="Text-block"
      data-node-id="547:8972"
    >
      <p
        class="w-[608px] text-[72px] font-bold tracking-[-1.44px]"
        data-node-id="547:8973"
      >
        Try Whitepace today
      </p>
      <div
        class="w-[550px] font-['Inter','Noto_Sans:Regular',sans-serif] text-[24px] leading-[32px] tracking-[-0.48px]"
        data-node-id="547:8974"
      >
        <p class="mb-0">Get started for free.</p>
        <p>Add your whole team as your needs grow.</p>
      </div>
    </div>
    <div
      class="flex content-stretch items-center justify-center gap-[10px] rounded-[10px] bg-[#4f9cf9] px-[40px] py-[20px]"
      data-name="Btn-try"
      data-node-id="547:8975"
    >
      <p
        class="text-[18px] leading-[23px] font-medium text-nowrap"
        data-node-id="547:8976"
      >
        Try Taskey free
      </p>
      <div
        class="flex content-stretch items-start gap-[4px]"
        data-name="Icon"
        data-node-id="547:8977"
      >
        <div class="relative size-[14px]" data-node-id="547:8978">
          <div class="absolute inset-[-3.57%]">
            <img
              alt=""
              class="block size-full max-w-none"
              src="https://placehold.co/14x14/808080/ffffff"
            />
          </div>
        </div>
      </div>
    </div>
    <p
      class="text-[21px] tracking-[-0.42px] text-nowrap"
      data-node-id="547:8981"
    >
      On a big team? Contact sales
    </p>
    <div
      class="flex content-stretch items-start gap-[40px]"
      data-name="App-icon"
      data-node-id="547:8982"
    >
      <img
        class="size-[60px] bg-[#c4defd]"
        data-name="Image-container"
        data-node-id="547:8983"
        src="https://placehold.co/60x60/808080/ffffff"
        alt="App Icon 1"
      />
      <img
        class="size-[60px] bg-[#c4defd]"
        data-name="Image-container"
        data-node-id="547:8988"
        src="https://placehold.co/60x60/808080/ffffff"
        alt="App Icon 2"
      />
      <img
        class="size-[60px] bg-[#c4defd]"
        data-name="Image-container"
        data-node-id="547:8995"
        src="https://placehold.co/60x60/808080/ffffff"
        alt="App Icon 3"
      />
    </div>
  </div>
</div>
