---
import Button from "./ui/Button.astro";
import Logo from "./ui/Logo.astro";
import chevronDown from "../images/icon/chevron-down.svg";

const navItems = [
  { label: "Products", href: "#products" },
  { label: "Solutions", href: "#solutions" },
  { label: "Resources", href: "#resources" },
  { label: "Pricing", href: "#pricing" },
];
---

<div class="w-full" data-name="Header">
  <div
    class="mx-auto flex max-w-[1440px] items-center justify-between px-[32px] py-[16px]"
  >
    <Logo />

    <div
      class="flex items-center gap-[64px] text-[18px] leading-[23px] font-medium tracking-[-0.02em]"
    >
      <ul class="flex items-start gap-[32px]" data-name="Nav-menu">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="group flex items-center gap-[10px]"
                data-name={item.label}
              >
                <p class="transition-colors group-hover:text-[#FFE492]">
                  {item.label}
                </p>
                <div
                  class="mt-[2px] h-[7px] w-[13px] bg-white mask-contain mask-no-repeat transition-colors group-hover:bg-[#FFE492]"
                  style={`mask-image: url(${chevronDown.src})`}
                />
              </a>
            </li>
          ))
        }
      </ul>
      <div class="flex items-center gap-[24px]" data-name="Btn">
        <button
          class="flex shrink-0 cursor-pointer items-center justify-center gap-[10px] rounded-[8px] bg-[#FFE492] px-[40px] py-[20px] text-[#043873] transition-opacity hover:opacity-80"
          data-name="Btn-login"
        >
          Login
        </button>
        <Button class="p-[20px] text-[18px]" data-name="Btn-free-trial">
          Try Whitepace free
        </Button>
      </div>
    </div>
  </div>
</div>
