---
import Button from "./ui/Button.astro";
import Logo from "./ui/Logo.astro";
import chevronDown from "../images/icon/chevron-down.svg";

const navItems = [
  { label: "Products", href: "#products" },
  { label: "Solutions", href: "#solutions" },
  { label: "Resources", href: "#resources" },
  { label: "Pricing", href: "#pricing" },
];
---

<div class="w-full">
  <div
    class="mx-auto flex max-w-[1440px] items-center justify-between px-[32px] py-[16px]"
  >
    <h1>
      <Logo />
    </h1>

    <div
      class="flex items-center gap-[64px] text-[18px] leading-[23px] font-medium tracking-[-0.02em]"
    >
      <ul class="flex items-start gap-[32px]">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href} class="group flex items-center gap-[10px]">
                <p class="group-hover:text-secondary transition-colors">
                  {item.label}
                </p>
                <div
                  class="group-hover:bg-secondary mt-[2px] h-[7px] w-[13px] bg-white mask-contain mask-no-repeat transition-colors"
                  style={`mask-image: url(${chevronDown.src})`}
                />
              </a>
            </li>
          ))
        }
      </ul>
      <div class="flex items-center gap-[24px]">
        <button
          class="bg-secondary text-primary flex shrink-0 cursor-pointer items-center justify-center gap-[10px] rounded-[8px] px-[40px] py-[20px] transition-opacity hover:opacity-80"
        >
          Login
        </button>
        <Button class="p-[20px] text-[18px]"> Try Whitepace free </Button>
      </div>
    </div>
  </div>
</div>
