---
import Button from "./ui/Button.astro";
---

<div class="w-full" data-name="Header" data-node-id="547:8800">
  <div
    class="relative mx-auto flex size-full max-w-[1440px] items-center justify-between px-[32px] py-[16px]"
  >
    <div
      class="flex w-[191px] items-center justify-between"
      data-name="Logo"
      data-node-id="547:8801"
    >
      <div
        class="inline-grid grid-cols-[max-content] grid-rows-[max-content] place-items-start"
        data-name="Logo"
        data-node-id="547:8802"
      >
        <div
          class="mt-[3px] ml-0 h-[29px] w-[37px] bg-[#c4defd] leading-[0] [grid-area:1_/_1]"
          data-name="Placeholder"
          data-node-id="553:10305"
        >
        </div>
        <p
          class="relative mt-0 ml-[47px] text-[28px] font-bold [grid-area:1_/_1]"
          data-node-id="547:8809"
        >
          whitepace
        </p>
      </div>
    </div>
    <div class="flex items-center" data-node-id="547:8810">
      <div
        class="flex w-[551.5px] items-start gap-[32px]"
        data-name="Nav-menu"
        data-node-id="547:8811"
      >
        <div
          class="flex items-center gap-[10px]"
          data-name="Products"
          data-node-id="547:8812"
        >
          <p
            class="text-[18px] leading-[23px] font-medium"
            data-node-id="547:8813"
            style={{
              fontVariationSettings: "'opsz' 14",
            }}
          >
            Products
          </p>
          <div
            class="relative h-[4px] w-[9px]"
            data-name="Vector"
            data-node-id="547:8814"
          >
            <div class="absolute inset-[-12.5%_-5.56%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/9x4/808080/ffffff"
              />
            </div>
          </div>
        </div>
        <div
          class="flex items-center gap-[10px]"
          data-name="Solutios"
          data-node-id="547:8815"
        >
          <p
            class="text-[18px] leading-[23px] font-medium"
            data-node-id="547:8816"
            style={{ fontVariationSettings: "'opsz' 14" }}
          >
            Solutions
          </p>
          <div
            class="relative h-[4px] w-[9px]"
            data-name="Vector"
            data-node-id="547:8817"
          >
            <div class="absolute inset-[-12.5%_-5.56%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/9x4/808080/ffffff"
              />
            </div>
          </div>
        </div>
        <div
          class="flex items-center gap-[10px]"
          data-name="Resources"
          data-node-id="547:8818"
        >
          <p
            class="text-[18px] leading-[23px] font-medium"
            data-node-id="547:8819"
            style={{ fontVariationSettings: "'opsz' 14" }}
          >
            Resources
          </p>
          <div
            class="relative h-[4px] w-[9px]"
            data-name="Vector"
            data-node-id="547:8820"
          >
            <div class="absolute inset-[-12.5%_-5.56%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/9x4/808080/ffffff"
              />
            </div>
          </div>
        </div>
        <div
          class="flex items-center gap-[10px]"
          data-name="Pricing"
          data-node-id="547:8821"
        >
          <p
            class="text-[18px] leading-[23px] font-medium"
            data-node-id="547:8822"
            style={{ fontVariationSettings: "'opsz' 14" }}
          >
            Pricing
          </p>
          <div
            class="relative h-[4px] w-[9px]"
            data-name="Vector"
            data-node-id="547:8823"
          >
            <div class="absolute inset-[-12.5%_-5.56%]">
              <img
                alt=""
                class="block size-full max-w-none"
                src="https://placehold.co/9x4/808080/ffffff"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex items-center gap-[24px]"
        data-name="Btn"
        data-node-id="547:8824"
      >
        <div
          class="flex w-[126px] items-center justify-center gap-[10px]"
          data-name="Btn-login"
          data-node-id="547:8825"
        >
          <p
            class="text-[18px] leading-[23px] font-medium tracking-[-0.36px]"
            data-node-id="547:8826"
          >
            Login
          </p>
        </div>
        <Button
          class="p-[20px] text-[18px]"
          data-name="Btn-free-trial"
          data-node-id="547:8827"
        >
          Try Whitepace free
        </Button>
      </div>
    </div>
  </div>
</div>
