---

---

<div
  class="relative box-border flex size-full content-stretch items-center bg-[#043873] px-[32px] py-[100px]"
  data-name="Hero-section"
  data-node-id="547:8092"
>
  <div
    class="relative flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[60px]"
    data-name="Heading"
    data-node-id="547:8160"
  >
    <div
      class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[24px] text-white"
      data-name="Text-block"
      data-node-id="547:8161"
    >
      <p
        class="relative w-full shrink-0 text-[64px] leading-[normal] font-bold tracking-[-1.28px]"
        data-node-id="547:8162"
      >
        Get More Done with whitepace
      </p>
      <p
        class="relative w-full shrink-0 text-[18px] leading-[30px] font-normal tracking-[-0.36px]"
        data-node-id="547:8163"
      >
        Project management software that enables your teams to collaborate,
        plan, analyze and manage everyday tasks
      </p>
    </div>
    <div
      class="relative box-border flex shrink-0 content-stretch items-center gap-[10px] rounded-[8px] bg-[#4f9cf9] p-[20px]"
      data-name="Btn-free-trial"
      data-node-id="547:8164"
    >
      <p
        class="relative shrink-0 text-[18px] leading-[23px] font-medium tracking-[-0.36px] text-nowrap text-white"
        data-node-id="547:8165"
      >
        Try Whitepace free
      </p>
      <div class="relative size-[10px] shrink-0" data-node-id="547:8166">
        <div class="absolute inset-[-5%]">
          <img
            alt=""
            class="block size-full max-w-none"
            src="https://placehold.co/10x10/808080/ffffff"
          />
        </div>
      </div>
    </div>
  </div>
  <img
    class="h-[456px] w-[685px] shrink-0 bg-[#c4defd]"
    data-name="Image-container"
    data-node-id="547:8169"
    src="https://placehold.co/685x456/808080/ffffff"
    alt="Hero Image"
  />
</div>
