---
import Button from "./ui/Button.astro";
---

<div class="w-full">
  <div
    class="mx-auto flex max-w-[1440px] flex-col items-center gap-[100px] px-[16px] py-[80px] md:grid md:grid-cols-12 md:gap-[32px] md:px-[32px] md:py-[100px]"
  >
    <div
      class="flex w-full flex-col items-center text-center md:col-span-6 md:block md:text-left"
    >
      <h2 class="text-[36px] font-bold tracking-[-0.02em] md:text-[64px]">
        Get More Done with whitepace
      </h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        Project management software that enables your teams to collaborate,
        plan, analyze and manage everyday tasks
      </p>
      <Button class="mt-[60px] p-[20px] text-[18px]">
        Try Whitepace free
      </Button>
    </div>
    <div class="w-full md:col-span-6">
      <img
        class="w-full"
        src="https://placehold.co/685x456/808080/ffffff"
        alt="Hero Image"
      />
    </div>
  </div>
</div>
