---
import Button from "./ui/Button.astro";
---

<div class="w-full">
  <div
    class="mx-auto grid max-w-[1440px] grid-cols-12 items-center gap-[32px] px-[32px] py-[100px]"
  >
    <div class="col-span-6">
      <h2 class="text-[64px] font-bold tracking-[-0.02em]">
        Get More Done with whitepace
      </h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        Project management software that enables your teams to collaborate,
        plan, analyze and manage everyday tasks
      </p>
      <Button class="mt-[60px] p-[20px] text-[18px]">
        Try Whitepace free
      </Button>
    </div>
    <div class="col-span-6">
      <img
        class="w-full"
        src="https://placehold.co/685x456/808080/ffffff"
        alt="Hero Image"
      />
    </div>
  </div>
</div>
