---

---

<div
  class="relative flex size-full flex-col content-stretch items-center justify-center gap-[60px] px-[32px] py-[140px]"
  data-name="Pricing"
  data-node-id="547:8212"
>
  <div
    class="relative flex w-full shrink-0 flex-col content-stretch items-center gap-[24px] text-center text-[#212529]"
    data-name="Heading"
    data-node-id="547:8213"
  >
    <p
      class="relative w-[min-content] min-w-full shrink-0 text-[72px] font-bold tracking-[-1.44px]"
      data-node-id="547:8243"
    >
      Choose Your Plan
    </p>
    <p
      class="relative w-[979px] shrink-0 text-[18px] leading-[30px] font-normal tracking-[-0.36px]"
      data-node-id="547:8244"
    >
      Whether you want to get organized, keep your personal life on track, or
      boost workplace productivity, Whitepace has the right plan for you.
    </p>
  </div>
  <div
    class="relative flex w-full shrink-0 content-stretch items-center justify-center gap-[32px]"
    data-name="Price list"
    data-node-id="547:8245"
  >
    <div
      class="relative flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start justify-center gap-[25px] rounded-[10px] border border-solid border-[#ffe492] bg-white px-[44px] py-[40px]"
      data-name="Price-board"
      data-node-id="547:8246"
    >
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[25px] text-[#212529]"
        data-name="Text-block-01"
        data-node-id="547:8247"
      >
        <p
          class="relative w-full shrink-0 text-[24px] leading-[36px] font-semibold"
          data-node-id="547:8248"
        >
          Free
        </p>
        <p
          class="relative w-full shrink-0 text-[36px] font-bold tracking-[-0.72px]"
          data-node-id="547:8249"
        >
          $0
        </p>
        <p
          class="relative w-full shrink-0 text-[18px] leading-[23px] font-medium tracking-[-0.36px]"
          data-node-id="547:8250"
        >
          Capture ideas and find them quickly
        </p>
      </div>
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[28px]"
        data-name="Bullet-point"
        data-node-id="547:8251"
      >
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8252"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10285"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8256"
          >
            Sync unlimited devices
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8257"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10286"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8261"
          >
            10 GB monthly uploads
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8262"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10287"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8266"
          >
            200 MB max. note size
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8267"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10288"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8271"
          >
            Customize Home dashboard and access extra widgets
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8272"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10289"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8276"
          >
            Connect primary Google Calendar account
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8277"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10290"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8281"
          >
            Add due dates, reminders, and notifications to your tasks
          </p>
        </div>
      </div>
      <div
        class="relative flex shrink-0 content-stretch items-center justify-center gap-[10px] rounded-[8px] border border-solid border-[#ffe492] bg-white px-[40px] py-[16px]"
        data-name="Btn-get-started"
        data-node-id="547:8282"
      >
        <p
          class="relative shrink-0 text-[16px] font-medium tracking-[-0.32px] text-nowrap text-[#212529]"
          data-node-id="547:8283"
        >
          Get Started
        </p>
      </div>
    </div>
    <div
      class="relative flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start justify-center gap-[25px] rounded-[10px] bg-[#043873] px-[44px] py-[40px] shadow-[0px_20px_50px_0px_rgba(0,0,0,0.05)]"
      data-name="Price-board"
      data-node-id="547:8284"
    >
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[25px] text-white"
        data-name="Text-block-01"
        data-node-id="547:8285"
      >
        <p
          class="relative w-full shrink-0 text-[24px] leading-[36px] font-semibold"
          data-node-id="547:8286"
        >
          Personal
        </p>
        <p
          class="relative w-full shrink-0 text-[36px] font-bold tracking-[-0.72px] text-[#ffe492]"
          data-node-id="547:8287"
        >
          $11.99
        </p>
        <p
          class="relative w-full shrink-0 text-[18px] leading-[23px] font-medium tracking-[-0.36px]"
          data-node-id="547:8288"
        >
          Keep home and family on track
        </p>
      </div>
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[28px]"
        data-name="Bullet-point"
        data-node-id="547:8289"
      >
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8290"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10291"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8294"
          >
            Sync unlimited devices
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8295"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10292"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8299"
          >
            10 GB monthly uploads
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8300"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10293"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8304"
          >
            200 MB max. note size
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8305"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10294"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8309"
          >
            Customize Home dashboard and access extra widgets
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8310"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10295"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8314"
          >
            Connect primary Google Calendar account
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-white"
          data-name="Point"
          data-node-id="547:8315"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10296"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8319"
          >
            Add due dates, reminders, and notifications to your tasks
          </p>
        </div>
      </div>
      <div
        class="relative flex shrink-0 content-stretch items-center justify-center gap-[10px] rounded-[8px] bg-[#4f9cf9] px-[40px] py-[16px]"
        data-name="Btn-get-started"
        data-node-id="547:8320"
      >
        <p
          class="relative shrink-0 text-[16px] font-medium tracking-[-0.32px] text-nowrap text-white"
          data-node-id="547:8321"
        >
          Get Started
        </p>
      </div>
    </div>
    <div
      class="relative flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start justify-center gap-[25px] rounded-[10px] border border-solid border-[#ffe492] bg-white px-[44px] py-[40px]"
      data-name="Price-board"
      data-node-id="547:8322"
    >
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[25px] text-[#212529]"
        data-name="Text-block-01"
        data-node-id="547:8323"
      >
        <p
          class="relative w-full shrink-0 text-[24px] leading-[36px] font-semibold"
          data-node-id="547:8324"
        >
          Organization
        </p>
        <p
          class="relative w-full shrink-0 text-[36px] font-bold tracking-[-0.72px]"
          data-node-id="547:8325"
        >
          $49.99
        </p>
        <p
          class="relative w-full shrink-0 text-[18px] leading-[23px] font-medium tracking-[-0.36px]"
          data-node-id="547:8326"
        >
          Capture ideas and find them quickly
        </p>
      </div>
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-start gap-[28px]"
        data-name="Bullet-point"
        data-node-id="547:8327"
      >
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8328"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10297"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8332"
          >
            Sync unlimited devices
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8333"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10298"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8337"
          >
            10 GB monthly uploads
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-center gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8338"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10299"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 self-stretch text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8342"
          >
            200 MB max. note size
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8343"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10300"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8347"
          >
            Customize Home dashboard and access extra widgets
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8348"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10301"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8352"
          >
            Connect primary Google Calendar account
          </p>
        </div>
        <div
          class="relative flex w-full shrink-0 content-stretch items-start gap-[19px] text-[#212529]"
          data-name="Point"
          data-node-id="547:8353"
        >
          <img
            class="size-[18px] shrink-0 bg-[#c4defd]"
            data-name="Placeholder"
            data-node-id="553:10302"
            src="https://placehold.co/18x18/808080/ffffff"
            alt="Checkmark"
          />
          <p
            class="relative min-h-px min-w-px shrink-0 grow basis-0 text-[16px] leading-[20px] font-normal tracking-[-0.32px]"
            data-node-id="547:8357"
          >
            Add due dates, reminders, and notifications to your tasks
          </p>
        </div>
      </div>
      <div
        class="relative flex shrink-0 content-stretch items-center justify-center gap-[10px] rounded-[8px] border border-solid border-[#ffe492] bg-white px-[40px] py-[16px]"
        data-name="Btn-get-started"
        data-node-id="547:8358"
      >
        <p
          class="relative shrink-0 text-[16px] font-medium tracking-[-0.32px] text-nowrap text-[#212529]"
          data-node-id="547:8359"
        >
          Get Started
        </p>
      </div>
    </div>
  </div>
</div>
