---
import Button from "./ui/Button.astro";
---

<div class="text-custom-black w-full bg-white">
  <div
    class="mx-auto flex max-w-[1440px] flex-col gap-[100px] px-[16px] py-[80px] md:gap-[140px] md:px-[32px] md:py-[140px]"
  >
    <div
      class="flex w-full flex-col items-center gap-[60px] md:grid md:grid-cols-12 md:gap-[32px]"
    >
      <div
        class="flex w-full flex-col items-center text-center md:col-span-7 md:block md:text-left"
      >
        <h2 class="text-[36px] font-bold tracking-[-0.02em] md:text-[72px]">
          Project Management
        </h2>
        <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
          Images, videos, PDFs and audio files are supported. Create math
          expressions and diagrams directly from the app. Take photos with the
          mobile app and save them to a note.
        </p>
        <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
          Get Started
        </Button>
      </div>
      <div class="w-full md:col-span-5">
        <img
          class="w-full"
          src="https://placehold.co/719x448/808080/ffffff"
          alt="Project Management Image"
        />
      </div>
    </div>
    <div
      class="flex w-full flex-col-reverse items-center gap-[60px] md:grid md:grid-cols-12 md:gap-[32px]"
    >
      <div class="w-full md:col-span-5">
        <img
          class="w-full"
          src="https://placehold.co/583x543/808080/ffffff"
          alt="Work Together Image"
        />
      </div>
      <div
        class="flex w-full flex-col items-center text-center md:col-span-6 md:col-start-7 md:block md:text-left"
      >
        <h2 class="text-[36px] font-bold tracking-[-0.02em] md:text-[72px]">
          Work together
        </h2>
        <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
          With whitepace, share your notes with your colleagues and collaborate
          on them. You can also publish a note to the internet and share the URL
          with others.
        </p>
        <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
          Try it now
        </Button>
      </div>
    </div>
  </div>
</div>
