---
import Button from "./ui/Button.astro";
---

<div class="w-full bg-white text-[#212529]">
  <div
    class="mx-auto flex max-w-[1440px] flex-col gap-[140px] px-[32px] py-[140px]"
  >
    <div class="grid w-full grid-cols-12 items-center gap-[32px]">
      <div class="col-span-7">
        <h2 class="text-[72px] font-bold tracking-[-0.02em]">
          Project Management
        </h2>
        <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
          Images, videos, PDFs and audio files are supported. Create math
          expressions and diagrams directly from the app. Take photos with the
          mobile app and save them to a note.
        </p>
        <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
          Get Started
        </Button>
      </div>
      <div class="col-span-5">
        <img
          class="w-full"
          src="https://placehold.co/719x448/808080/ffffff"
          alt="Project Management Image"
        />
      </div>
    </div>
    <div class="grid w-full grid-cols-12 items-center gap-[32px]">
      <div class="col-span-5">
        <img
          class="w-full"
          src="https://placehold.co/583x543/808080/ffffff"
          alt="Work Together Image"
        />
      </div>
      <div class="col-span-6 col-start-7">
        <h2 class="text-[72px] font-bold tracking-[-0.02em]">Work together</h2>
        <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
          With whitepace, share your notes with your colleagues and collaborate
          on them. You can also publish a note to the internet and share the URL
          with others.
        </p>
        <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
          Try it now
        </Button>
      </div>
    </div>
  </div>
</div>
