---
import appleIcon from "../images/icon/sponsor-apple.svg";
import microsoftIcon from "../images/icon/sponsor-microsoft.svg";
import slackIcon from "../images/icon/sponsor-slack.svg";
import googleIcon from "../images/icon/sponsor-google.svg";

const sponsors = [
  { name: "Apple", icon: appleIcon, width: 56, height: 68 },
  { name: "Microsoft", icon: microsoftIcon, width: 287, height: 62 },
  { name: "Slack", icon: slackIcon, width: 280, height: 71 },
  { name: "Google", icon: googleIcon, width: 211, height: 70 },
];
---

<div class="w-full bg-white">
  <div
    class="relative mx-auto flex size-full max-w-[1440px] flex-col items-center justify-center gap-[100px] px-[32px] py-[140px]"
  >
    <h2
      class="text-custom-black w-full text-center text-[72px] font-bold tracking-[-0.02em]"
    >
      Our sponsors
    </h2>
    <ul class="flex w-full items-center justify-between">
      {
        sponsors.map((sponsor) => (
          <li>
            <img
              style={`width: ${sponsor.width}px; height: ${sponsor.height}px;`}
              src={sponsor.icon.src}
              alt={sponsor.name}
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
