---

---

<div
  class="relative flex size-full flex-col content-stretch items-center justify-center gap-[60px] bg-white px-[32px] py-[140px]"
  data-name="Testimonial"
  data-node-id="547:9044"
>
  <p
    class="w-[min-content] min-w-full shrink-0 text-center text-[70px] leading-[84px] font-bold text-[#212529]"
    data-node-id="547:9074"
  >
    What Our Clients Say
  </p>
  <div
    class="flex w-full shrink-0 content-stretch items-center gap-[32px]"
    data-name="Content"
    data-node-id="547:9075"
  >
    <div
      class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[60px] rounded-[10px] bg-white px-[24px] py-[60px] shadow-[15px_10px_50px_0px_rgba(0,0,0,0.1)]"
      data-name="Client"
      data-node-id="547:9076"
    >
      <div
        class="flex w-full shrink-0 flex-col content-stretch items-start gap-[32px] border-[0px_0px_1px] border-solid border-[#212529] px-0 pt-0 pb-[40px]"
        data-name="Comment"
        data-node-id="547:9077"
      >
        <img
          class="h-[62px] w-[86px] shrink-0 bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9132"
          src="https://placehold.co/86x62/808080/ffffff"
          alt="Quote Icon"
        />
        <p
          class="w-[min-content] min-w-full shrink-0 text-[18px] leading-[30px] tracking-[-0.36px] text-[#212529]"
          data-node-id="547:9083"
        >
          Whitepace is designed as a collaboration tool for businesses that is a
          full project management solution.
        </p>
      </div>
      <div
        class="flex w-[383px] shrink-0 content-stretch items-end gap-[42px]"
        data-name="Name-box"
        data-node-id="547:9084"
      >
        <img
          class="size-[95px] shrink-0 rounded-[9999px] bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9129"
          src="https://placehold.co/95x95/808080/ffffff"
          alt="Client 1"
        />
        <div class="flex shrink-0 grow basis-0 flex-row items-end self-stretch">
          <div
            class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[15px] self-stretch text-[#212529]"
            data-name="Name"
            data-node-id="547:9086"
          >
            <p
              class="w-full shrink-0 text-[24px] leading-[36px] font-semibold tracking-[-0.48px]"
              data-node-id="547:9087"
            >
              Oberon Shaw, MCH
            </p>
            <p
              class="w-full shrink-0 text-[16px] leading-[20px] tracking-[-0.32px]"
              data-node-id="547:9088"
            >
              Head of Talent Acquisition, North America
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[60px] rounded-[10px] bg-white px-[24px] py-[60px] shadow-[15px_10px_50px_0px_rgba(0,0,0,0.1)]"
      data-name="Client"
      data-node-id="547:9089"
    >
      <div
        class="flex w-full shrink-0 flex-col content-stretch items-start gap-[32px] border-[0px_0px_1px] border-solid border-[#212529] px-0 pt-0 pb-[40px]"
        data-name="Comment"
        data-node-id="547:9090"
      >
        <img
          class="h-[62px] w-[86px] shrink-0 bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9133"
          src="https://placehold.co/86x62/808080/ffffff"
          alt="Quote Icon"
        />
        <p
          class="w-[min-content] min-w-full shrink-0 text-[18px] leading-[30px] tracking-[-0.36px] text-[#212529]"
          data-node-id="547:9096"
        >
          Whitepace is designed as a collaboration tool for businesses that is a
          full project management solution.
        </p>
      </div>
      <div
        class="flex w-[383px] shrink-0 content-stretch items-end gap-[42px]"
        data-name="Name-box"
        data-node-id="547:9097"
      >
        <img
          class="size-[95px] shrink-0 rounded-[9999px] bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9130"
          src="https://placehold.co/95x95/808080/ffffff"
          alt="Client 2"
        />
        <div class="flex shrink-0 grow basis-0 flex-row items-end self-stretch">
          <div
            class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[15px] self-stretch text-[#212529]"
            data-name="Name"
            data-node-id="547:9099"
          >
            <p
              class="w-full shrink-0 text-[24px] leading-[36px] font-semibold tracking-[-0.48px]"
              data-node-id="547:9100"
            >
              Oberon Shaw, MCH
            </p>
            <p
              class="w-full shrink-0 text-[16px] leading-[20px] tracking-[-0.32px]"
              data-node-id="547:9101"
            >
              Head of Talent Acquisition, North America
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[60px] rounded-[10px] bg-white px-[24px] py-[60px] shadow-[15px_10px_50px_0px_rgba(0,0,0,0.1)]"
      data-name="Client"
      data-node-id="547:9102"
    >
      <div
        class="flex w-full shrink-0 flex-col content-stretch items-start gap-[32px] border-[0px_0px_1px] border-solid border-[#212529] px-0 pt-0 pb-[40px]"
        data-name="Comment"
        data-node-id="547:9103"
      >
        <img
          class="h-[62px] w-[86px] shrink-0 bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9134"
          src="https://placehold.co/86x62/808080/ffffff"
          alt="Quote Icon"
        />
        <p
          class="w-[min-content] min-w-full shrink-0 text-[18px] leading-[30px] tracking-[-0.36px] text-[#212529]"
          data-node-id="547:9109"
        >
          Whitepace is designed as a collaboration tool for businesses that is a
          full project management solution.
        </p>
      </div>
      <div
        class="flex w-[383px] shrink-0 content-stretch items-end gap-[42px]"
        data-name="Name-box"
        data-node-id="547:9110"
      >
        <img
          class="size-[95px] shrink-0 rounded-[9999px] bg-[#c4defd]"
          data-name="Image-container"
          data-node-id="547:9131"
          src="https://placehold.co/95x95/808080/ffffff"
          alt="Client 3"
        />
        <div class="flex shrink-0 grow basis-0 flex-row items-end self-stretch">
          <div
            class="flex min-h-px min-w-px shrink-0 grow basis-0 flex-col content-stretch items-start gap-[15px] self-stretch text-[#212529]"
            data-name="Name"
            data-node-id="547:9112"
          >
            <p
              class="w-full shrink-0 text-[24px] leading-[36px] font-semibold tracking-[-0.48px]"
              data-node-id="547:9113"
            >
              Oberon Shaw, MCH
            </p>
            <p
              class="w-full shrink-0 text-[16px] leading-[20px] tracking-[-0.32px]"
              data-node-id="547:9114"
            >
              Head of Talent Acquisition, North America
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-[12px] w-[60px] shrink-0"
    data-name="Slider"
    data-node-id="547:9115"
  >
    <img
      alt="Slider"
      class="block size-full max-w-none"
      src="https://placehold.co/60x12/808080/ffffff"
    />
  </div>
</div>
