---
import Button from "./ui/Button.astro";
---

<div class="text-custom-black w-full bg-white">
  <div
    class="mx-auto flex max-w-[1440px] flex-col-reverse items-center gap-[100px] px-[16px] py-[80px] md:grid md:grid-cols-12 md:gap-[32px] md:px-[32px] md:py-[140px]"
  >
    <div
      class="flex flex-col items-center text-center md:col-span-7 md:block md:text-left"
    >
      <h2 class="text-[36px] font-bold tracking-[-0.02em] md:text-[72px]">
        100% your data
      </h2>
      <p class="mt-[24px] text-[18px] leading-[30px] tracking-[-0.02em]">
        The app is open source and your notes are saved to an open format, so
        you'll always have access to them. Uses End-To-End Encryption (E2EE) to
        secure your notes and ensure no-one but yourself can access them.
      </p>
      <Button class="mt-[60px] px-[40px] py-[20px] text-[18px]">
        Read more
      </Button>
    </div>
    <div class="w-full md:col-span-5">
      <img
        class="w-full"
        src="https://placehold.co/681x381/808080/ffffff"
        alt="Your Data Image"
      />
    </div>
  </div>
</div>
