---

---

<div
  class="relative box-border flex size-full flex-col content-stretch items-center bg-[#043873] px-[32px] py-[140px]"
  data-name="Your-work"
  data-node-id="547:8360"
>
  <div
    class="relative flex w-full shrink-0 flex-col content-stretch items-center gap-[60px]"
    data-name="Heading"
    data-node-id="547:8361"
  >
    <div
      class="relative flex w-[1064px] shrink-0 flex-col content-stretch items-center gap-[24px] text-white not-italic"
      data-name="Text-block"
      data-node-id="547:8362"
    >
      <p
        class="relative w-full shrink-0 font-['Inter',sans-serif] text-[72px] leading-[normal] font-bold tracking-[-1.44px]"
        data-node-id="547:8392"
      >
        Your work, everywhere you are
      </p>
      <p
        class="relative w-full shrink-0 text-center font-['Inter',sans-serif] text-[18px] leading-[30px] font-normal tracking-[-0.36px]"
        data-node-id="547:8393"
      >
        Access your notes from your computer, phone or tablet by synchronising
        with various services, including whitepace, Dropbox and OneDrive. The
        app is available on Windows, macOS, Linux, Android and iOS. A terminal
        app is also available!
      </p>
    </div>
    <div
      class="relative box-border flex shrink-0 content-stretch items-center justify-center gap-[10px] rounded-[8px] bg-[#4f9cf9] px-[40px] py-[20px]"
      data-name="Btn-try"
      data-node-id="547:8394"
    >
      <p
        class="relative shrink-0 font-['Inter',sans-serif] text-[18px] leading-[23px] font-medium tracking-[-0.36px] text-nowrap text-white not-italic"
        data-node-id="547:8419"
      >
        Try Taskey
      </p>
      <div
        class="relative flex shrink-0 content-stretch items-start gap-[4px]"
        data-name="Icon"
        data-node-id="547:8420"
      >
        <div class="relative size-[14px] shrink-0" data-node-id="547:8421">
          <div class="absolute inset-[-3.57%]">
            <img
              alt=""
              class="block size-full max-w-none"
              src="https://placehold.co/14x14/808080/ffffff"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
