---
import Button from "./ui/Button.astro";
---

<div
  class="relative flex size-full flex-col items-center px-[32px] py-[140px]"
  data-name="Your-work"
  data-node-id="547:8360"
>
  <div
    class="flex w-full flex-col items-center gap-[60px]"
    data-name="Heading"
    data-node-id="547:8361"
  >
    <div
      class="flex w-[1064px] flex-col items-center gap-[24px]"
      data-name="Text-block"
      data-node-id="547:8362"
    >
      <p
        class="w-full text-[72px] font-bold tracking-[-1.44px]"
        data-node-id="547:8392"
      >
        Your work, everywhere you are
      </p>
      <p
        class="w-full text-center text-[18px] leading-[30px] tracking-[-0.36px]"
        data-node-id="547:8393"
      >
        Access your notes from your computer, phone or tablet by synchronising
        with various services, including whitepace, Dropbox and OneDrive. The
        app is available on Windows, macOS, Linux, Android and iOS. A terminal
        app is also available!
      </p>
    </div>
    <Button
      class="px-[40px] py-[20px] text-[18px]"
      data-name="Btn-try"
      data-node-id="547:8394"
    >
      Try Taskey
    </Button>
  </div>
</div>
