---
import arrowLeft from "../../images/icon/arrow-left.svg";

interface Props {
  hasIcon?: boolean;
  class?: string;
}

const { hasIcon = true, class: className, ...rest } = Astro.props;
---

<button
  class:list={[
    "flex shrink-0 cursor-pointer items-center justify-center gap-[10px] rounded-[8px] border-[1px] border-[#4f9cf9] bg-[#4f9cf9] tracking-[-0.02em] text-white transition-opacity hover:opacity-80",
    className,
  ]}
  {...rest}
>
  <slot />
  {
    hasIcon && (
      <div
        class="relative size-[14px] bg-white"
        style={`mask-image: url(${arrowLeft.src});`}
      />
    )
  }
</button>
