---
import logo from "../../images/icon/logo.svg";

const base = import.meta.env.BASE_URL;
---

<a
  href={base + "/"}
  class="flex items-center justify-start gap-[10px]"
  data-name="Logo"
>
  <img class="h-[29px] w-[37px]" src={logo.src} alt="" />
  <p class="text-[28px] font-bold">whitepace</p>
</a>
